/* ==========================================
GERAL
========================================== */

html, body, [class*="css"] {
    font-family: Arial;
}

.block-container {
    padding-top: 4rem;
}

/* ==========================================
TÍTULOS
========================================== */

.main-title {
    text-align:center;
    font-size:42px;
    font-weight:700;
    margin-bottom:10px;
}

.sub-title {
    text-align:center;
    color:#999;
    margin-bottom:40px;
}

.section-title {
    font-size:34px;
    font-weight:700;
    margin-bottom:20px;
}

/* ==========================================
CARDS
========================================== */

.card {
    background:#1e1e1e;
    padding:22px;
    border-radius:18px;
    border:1px solid #333;
    color:white;
    margin-bottom:18px;
    transition:0.25s;
    min-height:250px;
}

.card:hover {
    transform:translateY(-3px);
    border:1px solid #666;
    box-shadow:0px 8px 25px rgba(0,0,0,0.35);
}

.card h2 {
    font-size:22px;
    margin-bottom:15px;
}

.card hr {
    border:1px solid #333;
    margin-bottom:18px;
}

.card p {
    margin-bottom:12px;
    line-height:1.5;
}

/* ==========================================
RESULTADOS
========================================== */

.resultado {
    font-size:18px;
    margin-bottom:25px;
}

.sem-busca {
    text-align:center;
    margin-top:90px;
    font-size:24px;
    color:#999;
}

/* ==========================================
SIDEBAR
========================================== */

[data-testid="stSidebar"] {
    background:#556b2f;
}

/* ==========================================
INPUT CONTAINER
========================================== */

div[data-baseweb="input"] {

    background-color: #ffff !important;

    border: 1px solid #333 !important;

    border-radius: 14px !important;

    box-shadow: none !important;

}

/* ==========================================
REMOVE BORDA VERMELHA
========================================== */

div[data-baseweb="input"]:focus-within {

    border: 1px solid #333 !important;

    box-shadow: none !important;

}

/* ==========================================
INPUT
========================================== */

div[data-baseweb="input"] input {

    background: transparent !important;

    color: black !important;

    border: none !important;

    outline: none !important;

    box-shadow: none !important;

    font-size: 16px !important;

    padding: 12px !important;

}

/* ==========================================
FOCUS INPUT
========================================== */

div[data-baseweb="input"] input:focus {

    outline: none !important;

    box-shadow: none !important;

}

/* ==========================================
BOTÕES
========================================== */

.stButton button {
    border-radius:12px;
    height:48px;
    font-weight:700;
    transition:0.2s;
}

.stButton button:hover {
    transform:translateY(-2px);
}


/* ==========================================
CENTRALIZAÇÃO
========================================== */

.menu-card {
    text-align: center;
    padding: 15px;
}

.menu-card h3 {
    text-align: center;
}

.menu-card p {
    text-align: center;
}


/* ==========================================
BADGE EM DESENVOLVIMENTO
========================================== */

.badge-dev {
    text-align: center;
    background-color: #1f2937;
    color: #facc15;
    padding: 15px;
    border-radius: 8px;
    margin-top: 0px;
    font-size: 14px;
    font-weight: bold;
}


/* ==========================================
MOBILE
========================================== */

@media (max-width: 768px) {

    .main-title {
        font-size:30px;
    }

    .section-title {
        font-size:26px;
    }

    .card {
        padding:18px;
        min-height:auto;
    }

    .card h2 {
        font-size:18px;
    }

}
